html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
  overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

.clickable {
  cursor: pointer;
  user-select:none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#nav{
  position: fixed;
  width: 70%;
  height: 4em;
  z-index: 1000;
  margin-top: 1em;
  margin-left: -35%;
  left: 50%;
  opacity: 1;
  transition: left 1s ease, opacity 1s ease;
}

.nav-btn{
  width: 20%;
  vertical-align: middle;
  text-align: center;
  transition: opacity 0.5s ease;
  /*height: 100%;*/
  /*float: left;*/
  /*opacity: 1;*/
  /*background-size: contain;*/
}
.nav-btn:hover{
  opacity: 1;
}
.nav-btn img{
  min-height: 3.5em;
  max-height: 4em;
}

.nav-btn img:hover{
}

#first{
  position: relative;
  width:250%;
  height: 100%;
  margin-left: -50%;
  transition: margin-left 1s ease;
  -webkit-transition: margin-left 1s ease;
}

.frame{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2em;
  padding-top: 5em;
  box-sizing:border-box;
}

#background, #header, #faq{
  width: 40%;
  float: left;
  padding-top:2em;
}

#background {
  width: 20%;
}

#header{
  position: relative;
  background-color: #85d235;
  background-image: url("../img/pattern_white.png");
  opacity: 1;
  transition: opacity 1s ease;
  padding: 0;
  /*box-shadow: 0 0 2em #444;*/
}

#bin-top, #title, #bin-bottom{
  position:relative;
  display:block;
  margin:auto;
  clear:both;
}

#bin-top{
  width: 13em;
  margin-top: -12.077em;
  margin-top: calc(17.5 * -0.5em + 77 / 91 * 5.5 * -0.5em);
  margin-bottom: 0.2em;
}

#title {
  position:relative;
  margin:auto;
  clear:both;
  width:50em;
  height: 10em;
  border: 0.25em solid white;
  color:white;
  text-align: center;
  padding: 0.5em 0 0 0;
  box-shadow: 0 2px #7abf30, inset 0 2px #7abf30;
}

#title-1, #title-2, #title-3{
  padding: 0;
  text-shadow: 0 3px #7abf30;
}

#title-1 {
  font-size: 2.7em;
  font-family:"MuseoSans-700" 
}

#title-2 {
  font-size: 2.7em;
  font-family: "MuseoSansRounded-1000";
  -webkit-animation: shine 3s infinite;
}

#title-stroke{
  position: absolute;
  width: 20em;
  right: 2em;
  top: 6.1em;
  opacity: 0.9;
}

@-webkit-keyframes shine{
  0%{
    text-shadow: 0 3px #7abf30, 0 -10px 60px rgba(255,255,255,0.6);
  }
  50%{
    text-shadow: 0 3px #7abf30, 0 -10px 60px rgba(255,255,255,0.3);
  }
  100%{
    text-shadow: 0 3px #7abf30, 0 -10px 60px rgba(255,255,255,0.6);
  }
}

#title-3{
  font-size: 2em;
  font-family: "MuseoSansRounded-700";
  margin-top: 0.2em;
}

#bin-bottom{
  width: 13em;
  height: 4.3756em;
  height: calc(13 / 205 * 69em)
  margin: auto;
  margin-top:0.2em;
  text-align:center;
}

#bin-bottom-img{
  max-width: 100%;
  text-align: center;
}

#video-btn-text{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top:-1.8em;
  font-size: 2.1em;
  color:white;
  text-shadow: 0 2px #ccc;
}

#background-btn{
  position: absolute;
  width: 12em;
  height: 8.5em;
  /*margin-left: 30em;*/
  /*top:74%;*/
  left:24%;
  /*top: calc(50% + 4.5em);*/
  left: calc(50% - 22em);
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  -webkit-animation: cloud-float 3s -1s infinite;
}

#faq-btn{
  position: absolute;
  width: 12em;
  height: 8.5em;
  /*margin-left: 30em;*/
  top:74%;
  right:24%;
  top: calc(50% + 4.5em);
  right: calc(50% - 22em);
  background: url("../img/faq.png") no-repeat;
  /*background-repeat: no-repeat;*/
  -webkit-animation: cloud-float 2.8s infinite;
}

#faq-btn:hover, #background-btn:hover{
  -webkit-animation-play-state:paused;
}

@-webkit-keyframes cloud-float{
  0%{
    top:74%;
    top: calc(50% + 4.5em);
  }
  50%{
    top:73%;
    top: calc(50% + 4.1em);
  }
  100%{
    top:74%;
    top: calc(50% + 4.5em);
  }
}

#background, #faq{
  position: relative;
  background: url("../img/pattern_blue.png");
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
  z-index: 10;
  /*padding: 5%;*/
}

#background > .generic-content{
  background-image: url("../img/road.png");
  background-repeat: no-repeat;
}

#faq > .generic-content{
  height: 80%;
}

.close-btn{
  position: absolute;
  bottom: 2em;
  padding: 0.4em 1em 0.4em 1em;
  float: right;
  color: white;
  text-align: center;
  text-shadow: 0 1px #ddd;
  font-family: "MuseoSansRounded-900";
  background-color: #2fcdd7;
  border-top: 4px solid #22a9b4;
}

.close-btn:hover{
  border-top: 2px solid #22a9b4;
}

#background-close-btn{
  right: 2em;
}

#faq-close-btn{
  left: 2em;
}

#background-close-btn:hover,#faq-close-btn:hover{
  bottom: calc(2em + 2px);
}

#video-popup{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  padding-top: 2em;
  z-index: 10;
}

#video-popup > iframe{
  display: block;
  margin: auto;
  margin-top: -255px;
  box-shadow: 0 0 1em rgba(0,0,0,0.5);
}

#challenge{
  height: auto;
  background: url("../img/pattern_blue.png");
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

#timeline{
  position: relative;
  min-height: 100%;
  height: auto;
  padding-bottom: 4em;
  background-image: url("../img/pattern_green.png");
}

#timeline-title{
  position: relative;
  z-index: 10;
  margin-left: 2em;
}

#timeline-background{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%);
  z-index: 0;
}

.timeline-stage{
  position: relative;
  height: 12em;
  margin-left: 15%;
  margin-top: 4em;
  /*margin-left: 8em;*/
  z-index: 10;
  clear: both;
}

.stage-img{
  position: relative;
  display: block;
  float: left;
  height: 100%;
}

.stage-text{
  height: 100%;
  float: left;
  margin-left: 4em;
  font-family: "MuseoSansRounded-900";
}

.stage-title{
  font-size: 4em;
  text-shadow: 0 2px rgba(0,0,0,0.4);
  margin-top: -0.9em;
  color: #85d235;
}

.stage-subtitle{
  font-size: 2.5em;
  color: #22a9b4;
}

#prizes {
  background-color: #22a9b4;
  height: auto;
  background-image: url("../img/pattern_white.png");
  padding-left: 4em;
}

#prizes-title{
  width: 20%;
  margin-bottom: -5em;
}

#prizes-table{
  font-family: "MuseoSansRounded-900";
  color: white;
  width: 90%;
  margin: auto;
  text-shadow: 0 2px #209da8;
  text-shadow: 0 2px rgba(0,0,0,0.2);
  vertical-align: middle;
  table-layout: fixed;
}

#prizes-table tr{
  height: 20em;
}

#prizes-stroke{
  position: absolute;
  top: 28em;
  left: 12%;
  width: 76%;
}

.category{
  width: 22%;
  text-align: left;
  font-size: 2em;
}

.individual-prize, .school-prize{
  text-align: center;
}

.school-prize > img, .individual-prize > img {
  /*max-width: 40%;*/
  max-height: 40%;
}

.prize-title{
  font-size: 1.4em;
  line-height: 1.8em;
}

.prize-subtitle{
  font-family: "MuseoSans-700";
  font-size: 1.2em;
}

.top-prize{
  color: #fdee17;
}

#judging{
  position: relative;
  min-height: 100%;
  height: auto;
  padding-bottom: 4em;
  background-image: url("../img/pattern_green.png");
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

#judging-title{
  position: relative;
  z-index: 10;
  margin-left: 2em;
  margin-bottom: -4em;
}

#judging-background{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%);
  z-index: 0;
}

.judging-criterion{
  position: relative;
  height: 12em;
  margin-left: 15%;
  margin-top: 4em;
  /*margin-left: 8em;*/
  z-index: 10;
  clear: both;
}

.criterion-img{
  position: relative;
  display: block;
  float: left;
  height: 100%;
}

.criterion{
  height: 100%;
  float: left;
  margin-left: 4em;
  font-family: "MuseoSansRounded-900";
}

.criterion-title{
  font-size: 4em;
  margin-top: 0.5em;
  text-shadow: 0 2px rgba(0,0,0,0.4);
  color: #85d235;
}

.criterion-subtitle{
  font-size: 2em;
  color: #7abf30;
 }

#litterculprits{
  background-image: url("../img/pattern_blue.png");
  height: 100%;
  /*height: auto;*/
}

.litter{
  float: left;
  height: 35%;
  width: 20em;
  text-align: center; 
  margin-top: 4em;
}

#cigarette{
  clear:left;
}

#litterculprits-container{
  margin: auto;
  height: 100%;
  width: 60em;
  margin:auto;
}

#litter-title{
  height: 100%;
  margin-top: -2em;  
}

.litter-img{
  max-width: 80%;
  max-height: 80%;
}

.litter-title{
  font-family: "MuseoSansRounded-900";
  font-size: 1.6em;
  color: #6a5a14;
}

#howtoenter{
  position: relative;
  background-color: #85d235;
  background-image: url("../img/pattern_white.png");
  padding-left: 15%;
  min-height: 100%;
  float: left;
  height: auto;
}

#howtoenter-title{
  float:left;
}

#howtoenter-content{
  position:relative;
  float:left;
  margin-left: 4em;
  width:60%;
  background:none;
}

#howtoenter-step, #howtoenter-para{
  color:white;
  text-shadow: 0 1px rgba(0,0,0,0.2);
}

#entry-btns{
  width: 70%;
  margin: auto;
  height: 10em;
}

.entry-btn-wrapper{
  width: 45%;
  float: left;
  text-align: center;
}

.entry-btn-wrapper:last-child{
  float: right;
}

.entry-btn{
  max-width: 100%;
  max-height: 100%;
}

.entry-btn-wrapper .generic-para{
  color: white;
  text-decoration: underline;
  line-height: 1.2em;
}

#contactus{
  position: relative;
  float: left;
  min-height: 100%;
}

#contactus-title{
  display: block;
  float: left;
  margin-top:1em;
}

#contact-form-wrapper{
  width: 50%;
  min-height: 20em;

  margin:auto;
  clear: both;
  padding:2em;
  background-color: #85d235;
  background-image: url("../img/pattern_white.png");
  box-shadow: 0px 4px rgba(0,0,0,0.25)
}

#contact-form{
  display: block;
  position: relative;
  margin: auto;
  width: 50%;
  height: 20em;
  font-family: "MuseoSans-500";
  color: white;
}

#contact-form > label, #contact-form > input, #contact-form > textarea{
  position: relative;
  display: block;
  clear: both;
  float: left;
}

#contact-form label{
  font-size: 1em;
  padding: 0.5em 0 0.5em 0;
  text-shadow: 0 2px rgba(0,0,0,0.25);
}

#contact-form input, #contact-form textarea{
  border: none;
  width: 100%;
  font-size: 1.5em;
  font-family: "MuseoSans-500";
  opacity: 0.9
}

#contact-form textarea{
  height: 9em;
  font-size: 1em;
}




.generic-content{
  background-color: rgba(255,255,255,0.7);
  padding: 2em;
}

.generic-title{
  font-family: "MuseoSansRounded-900";
  color: #2fcdd7;
  font-size: 4em;
  line-height: 1em;
}

.generic-para{
  overflow-y: auto;
  font-family: "MuseoSans-500";
  text-shadow: 0 1px rgba(0,0,0,0.2); 
  color: #22a9b4;
  font-size: 1.1em;
  line-height: 1.5em;
  max-height: 80%;
}

.vertical-center{
  width:100%;
  height:50%;
}

.emphasis { 
  font-family:"MuseoSansRounded-1000" 
}